body {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 2px solid black;
}

#day {
  text-align: center;
}

#wkend {
  text-align: center;
}

nav {
  border: 2px solid black;
}

nav ul{
  display: flex;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
}

.content {
  padding: 100px;
}

.heading {
  margin: 0 auto;
}

#datetime {
  margin-right: 10px;
}

header h1 {
    text-align: center;
  }

  header #alert {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
  
  .change-img {
    height: 250px;
    width: 200px;
  }

  #alert {
    float: right;
  }

  .divine {
    display: flex;
    flex-direction: column;
    border-right: 2px solid black;
    width: 50%;
  }

  .handPic {
    margin: 0 auto;
  }

  .divine h3 {
   text-align: center;
  }

  #hand {
    text-align: center;
  }

  .row {
    display: flex;
    border: 2px solid black;
  }

  .fav-list {
    display: flex;
    flex-direction: column;
    border-left: 2px solid black;
    width: 50%;
  }

  .the-list {
    margin: 0 auto;
  }

  .the-list ol {
    display: none;
  }

  #dis-likes {
    display: flex;
    width: 400px;
    padding: 5px;
    margin: 0 auto;
  }

  .dislike {
    margin-left: auto;
  }

